.login {
    background-color: #f9f9f9;
    display: grid;
    place-items: center;
    height: 100vh;
}

.login-form {
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.login-form label {
    display: block;
    padding: 0.5rem;
    color: black;
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

}

.login-form input[type=email],
.login-form input[type=password],
.login-form input[type=text] {
    width: 100%;
    border: none;
    background: transparent;
    padding: 10px 1px;
    border-bottom: 1px solid black;
}

.login-form input:focus {
    outline: none;
}

.login-form input[type=submit] {
    width: 90%;
    background-color: black;
    border: none;
    padding: 0.6rem 1rem;
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.login-form h2 {
    color: black;
    text-align: center;
    font-size: 3.5rem;
    font-family: sans-serif;
    padding: 0.5rem;
}

.login-form button {
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 1rem;
    font-family: sans-serif;
    background-color: transparent;
    border: none;
}

.login-form button:hover {
    text-decoration: underline;
}