.watch-later {
    display: grid;
    background-color: #f9f9f9;
}

img {
    width: 100%;
}

.watch-wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 1rem 2rem;
}

.watch {
    padding: 1rem;
}