.menu {
  display: grid;
  gap: 15px;
  position: sticky;
  top: 4rem;
  left: 0;
  height: 80vh;
}

.aside-menu {
  list-style: none;


}

.aside-menu img {
  width: 45px;
}

.menu li {
  display: grid;
  text-align: center;
  padding: 8px;
  justify-items: center;
  font-size: 12px;
}

.menu li:hover {
  background-color: rgb(202, 199, 199);
}

.user-info {
  display: grid;
  grid-template-columns: 40px 1fr;
}