main {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 90px 1fr;

}

.content {
    display: grid;
    background-color: #f9f9f9;
    grid-template-columns: repeat(auto-fit, minmax(230px, 260px));
    gap: 25px;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.video {
    display: grid;
    grid-template-rows: 160px 100px;
    gap: 10px;

}

.video-details {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
}

.thumbnail {
    width: 100%;
}

.video-avatar {
    border-radius: 50%;
    width: 100%;
}

.video-info {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.7rem;
}

.info {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;
}

.title {
    color: #030303;
    font-size: 14px;
    font-family: sans-serif;
}

.views,
.channel-name {
    color: #606060;
    font-family: sans-serif;
    font-size: 12px;
}